<html>
<head>
  <title>Hacker Point</title>
</head>
<body>
  <h1>Hacker Point</h1>
  <ol>
    {% if name %}
      <li>Hi {{ name }}! Your HP is {{ score }} now.</li>
    {% else %}
      <li><a href="/github/login">Sign in via GitHub &rarr;</a></li>
    {% endif %}
    <li>
      Connect with
      <a href="/connect/stackexchange">StackExchange</a>,
      <a href="/connect/topcoder">TopCoder</a>,
      <a href="/connect/spoj">SPOJ</a>,
      <a href="/connect/sgu">SGU</a>, and/or
      <a href="/connect/poj">POJ</a>.
    </li>
    <li>Check your rank in <a href="/rank">our daily-updated list</a>.</li>
    <li>Tell your friends about Hacker Point :-)</li>
  </ol>
</body>
</html>
